assets/icons/*
!assets/icons/nox.png
node_modules/
.github/
.vscode/
out/
src/

ADDING_LANGUAGE.md
package-lock.json
rspack.config.js
.prettierignore
.gitattributes
tsconfig.json
.vscodeignore
.prettierrc
.gitignore
suckmyass